sklearn-theano
*.zip
*.gz
*.tar
*.txt
*.h5
*.pdf
word_embedding/text8
*.bin
*.log
*.gexf
knowledge_graph/database/wiki.yaml
*.log.*
*.pkl
*.pyc
./basic/computer_vision_cs231n/assignment1/cs231n/datasets
word_embedding/data/raw_data/
#./basic/courses
#./word_embedding/word2gm
entity_relation_extraction/Chinese-Annotator/