[submodule "basic/courses"]
	path = basic/courses
	url = https://github.com/fastai/courses.git
[submodule "basic/example/neural_artistic_style"]
	path = basic/example/neural_artistic_style
	url = https://github.com/andersbll/neural_artistic_style.git
[submodule "basic/DeepLearningTutorials"]
	path = basic/DeepLearningTutorials
	url = https://github.com/lisa-lab/DeepLearningTutorials.git
[submodule "entity_relation_extraction/Chinese-Annotator"]
	path = entity_relation_extraction/Chinese-Annotator
	url = git@github.com:crownpku/Chinese-Annotator.git
[submodule "basic/tensorflow/models"]
	path = basic/tensorflow/models
	url = git@github.com:tensorflow/models.git
[submodule "entity_relation_extraction/TextRank4ZH"]
	path = entity_relation_extraction/TextRank4ZH
	url = git@github.com:letiantian/TextRank4ZH.git
[submodule "entity_relation_extraction/TextRank"]
	path = entity_relation_extraction/TextRank
	url = git@github.com:davidadamojr/TextRank.git
[submodule "web_crawl/Web-crawler-and-data-analysis"]
	path = web_crawl/Web-crawler-and-data-analysis
	url = git@github.com:xUFduO/Web-crawler-and-data-analysis.git
[submodule "word_embedding/deep-siamese-text-similarity"]
	path = word_embedding/deep-siamese-text-similarity
	url = git@github.com:dhwajraj/deep-siamese-text-similarity.git
[submodule "word_embedding/sentenceSimilarity"]
	path = word_embedding/sentenceSimilarity
	url = git@github.com:WenDesi/sentenceSimilarity.git
[submodule "entity_relation_extraction/jointEE-NN"]
	path = entity_relation_extraction/jointEE-NN
	url = git@github.com:anoperson/jointEE-NN.git
[submodule "knowledge_graph/information/EventTriplesExtraction"]
	path = knowledge_graph/information/EventTriplesExtraction
	url = https://github.com/liuhuanyong/EventTriplesExtraction.git
