sklearn-theano
*.zip
*.gz
*.tar
*.txt
*.h5
word_embedding/text8
*.bin
*.log
*.gexf
knowledge_graph/database/wiki.yaml
*.log.*
*.pkl
./basic/computer_vision_cs231n/assignment1/cs231n/datasets
word_embedding/data/raw_data/
