[submodule "basic/courses"]
	path = basic/courses
	url = https://github.com/fastai/courses.git
[submodule "basic/example/neural_artistic_style"]
	path = basic/example/neural_artistic_style
	url = https://github.com/andersbll/neural_artistic_style.git
[submodule "basic/DeepLearningTutorials"]
	path = basic/DeepLearningTutorials
	url = https://github.com/lisa-lab/DeepLearningTutorials.git
[submodule "word_embedding/word2gm"]
	path = word_embedding/word2gm
	url = git@github.com:benathi/word2gm.git
[submodule "word_embedding/word2vec-explorer"]
	path = word_embedding/word2vec-explorer
	url = git@github.com:dominiek/word2vec-explorer.git
