asn1crypto==0.24.0
baidu-aip==2.2.0.0
bcrypt==3.1.4
beautifulsoup4==4.6.0
boto==2.48.0
boto3==1.5.22
botocore==1.8.36
bz2file==0.98
cchardet==2.1.1
certifi==2018.1.18
cffi==1.11.4
chardet==3.0.4
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
decorator==4.2.1
demjson==2.2.4
docutils==0.14
gensim==3.2.0
hanziconv==0.3.2
idna==2.6
ipykernel==4.8.0
ipython==4.2.1
ipython-genutils==0.2.0
isodate==0.6.0
jieba==0.39
jmespath==0.9.3
jupyter-client==5.2.2
jupyter-core==4.4.0
lxml==4.1.1
matplotlib==2.1.2
mysql-connector-python-rf==2.2.2
networkx==2.1
nltk==3.2.5
numpy==1.14.0
pandas==0.22.0
paramiko==2.4.0
pexpect==4.3.1
pickleshare==0.7.4
protobuf==3.5.1
psutil==5.4.3
ptyprocess==0.5.2
pyasn1==0.4.2
pycparser==2.18
pyltp==0.2.1
pymongo==3.6.0
PyNaCl==1.2.1
pyparsing==2.2.0
pyquery==1.4.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
pyzmq==16.0.4
rdflib==4.2.2
requests==2.18.4
s3transfer==0.1.12
scipy==1.0.0
selenium==3.10.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.5.6
snownlp==0.12.3
SQLAlchemy==1.2.4
sshtunnel==0.1.2
stanfordcorenlp==3.7.0.2
tornado==4.5.3
tqdm==4.19.5
traitlets==4.3.2
urllib3==1.22
